#carouselExampleControls{
    background: #FEEAE9;
    margin-top: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #FF136F;
}
.heading{
    padding:30px;
}

.bye-now-button{
    background-image: linear-gradient(to bottom, #ff5898 0%, #FF136F 100% );
    color: #fff;
    border: none;
    border-radius:8px;
    padding: 9px 25px;
    cursor: pointer;
    width: 120px;
}
.categories{
    margin: 50px auto;
}
.categories h1{
    color: #fff;
}

.cat-1, .cat-2, .cat-3{
    padding: 10px 30px ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cat-1{
    background: orange;
}

.cat-2{
    background: orchid;
}

.cat-3{
    background: blue;
}

.card{
    border: none;
    box-shadow: 5px 5px 15px  #dddada;
}


#subscribe{
    padding: 100px 0;
    

}

#subscribe h6{
    color: gray;
}



#subscribe ,input,  button{
    margin: 10px auto;
}

footer{
    text-align: center;
    background: gray;
    color: #f3f3f3;
}


